@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #161616;
  padding: 30px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #da533d;
}

.outerContainer {
  font-family: 'Roboto', sans-serif;
}

.input_form {
  width: 100%;
  box-shadow: 0px 1px 1px 0px rgba(100,100,100,0.75);
}

.input_heading {
  font-weight: normal;
  text-align: center;
  color: white;
  padding: 50px 40px;
  background: #333333;
}

.myForm {
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid rgba(100,100,100,0.15);
  justify-content: space-between;
}

.myForm-input {
  padding-left: 30px;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.myForm-input-text {
  margin-top: 5px;
  margin-left: 5px;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  width: 70%;
  box-sizing: border-box;
  padding: 10px;
}

.myForm-input-button {
  margin-top: 5px;
  font-size: 14px;
  color: white;
  padding: 7px 7px;
  border: none;
  background-color: #da533d;
  font-family: 'Roboto', sans-serif;
}

.myForm-input-button:hover {
  opacity: 0.8;
  background-size: 28px;
}

.todo-listitem:first-child {
  list-style-type: none;
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todo-listitem {
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todo-listitem-text {
  margin-right: auto;
  width: 50%;
  padding: 10px 10px;
  border: none;
  font-size: 13px;
}

label{
  display: inline-block;
  padding: 15px;
}

.check {
  margin: 8px;
}
